<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<div class="header1" align="center">SQL</div>
<div class="intro" align="justify">
	Всё, что вам требуется – в первом небольшом поле ввести то, как по-вашему 
	программе следует назвать файл с sql кодом, хотя его можно и не заполнять, 
	тогда файл будет называться sql.txt. Ну а во втором уже вводите текст, 
	для которого будем создавать базы данных. Его всё же ввести стоит.
</div>
<body class = 'page'>
<form name="user_info"class = 'parent pagecenter'>
    <div align="center">название файла:&nbsp;&nbsp;<input type="text" name="sql_name">&nbsp;.txt<br></div><br>
    <div align="center">текст сюда:</div>
    <div align="center"><input type="text" name="sql_name"><br></div>

    <div class="submit"><input type="submit" class="button15" value="далее"/></div>	
</form>
</div>
	
</body>