<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<div class="header1" align="center">ОПРОС</div>
<div class="intro" align="justify">Данный опрос состоит из трёх небольших частей. В первой части опрашиваемому нужно дать некоторую информацию о себе, во второй интерпретировать несколько похожих друг на друга предложений и в третьей оценить правильность написанных предложений. Надеюсь, непонятных моментов не возникнет. 
    <div align="center">Все поля опроса обязательны к заполнению,</div>
	<div align="center">кроме адреса электронной почты</div> </div>
<body class = 'page'>
<div class = 'part'>часть 2</div>
<form name="masha_prishla"class = 'parent pagecenter'>
	<div align="center" style="color:#ff0000">постарайтесь при ответе не ориентироваться на другие ответы</div><br>
	<div style="font-size:25px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Кроме Маши пришли все.<br></div>
	<input type="radio" required="true" name="q1" value="маша пришла"> Маша пришла<br>
	<input type="radio" required="true" name="q1" value="маша не пришла"> Маша не пришла<br>
	<input type="radio" required="true" name="q1" value="так сказать нельзя"> так сказать нельзя<br>
	<input type="radio" required="true" name="q1" value="затрудняюсь с ответом"> затрудняюсь с ответом<br><br>
	<div style="font-size:25px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Кроме Маши пришли все друзья.<br></div>
	<input type="radio" required="true" name="q2" value="маша пришла"> Маша пришла<br>
	<input type="radio" required="true" name="q2" value="маша не пришла"> Маша не пришла<br>
	<input type="radio" required="true" name="q2" value="так сказать нельзя"> так сказать нельзя<br>
	<input type="radio" required="true" name="q2" value="затрудняюсь с ответом"> затрудняюсь с ответом<br><br>
	<div style="font-size:25px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Кроме Маши пришли её друзья.<br></div>
	<input type="radio" required="true" name="q3" value="маша пришла"> Маша пришла<br>
	<input type="radio" required="true" name="q3" value="маша не пришла"> Маша не пришла<br>
	<input type="radio" required="true" name="q3" value="так сказать нельзя"> так сказать нельзя<br>
	<input type="radio" required="true" name="q3" value="затрудняюсь с ответом"> затрудняюсь с ответом<br><br>
	<div style="font-size:25px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. Помимо Маши пришли все.<br></div>
	<input type="radio" required="true" name="q4" value="маша пришла"> Маша пришла<br>
	<input type="radio" required="true" name="q4" value="маша не пришла"> Маша не пришла<br>
	<input type="radio" required="true" name="q4" value="так сказать нельзя"> так сказать нельзя<br>
	<input type="radio" required="true" name="q4" value="затрудняюсь с ответом"> затрудняюсь с ответом<br><br>
	<div style="font-size:25px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. Не считая Маши пришли все.<br></div>
	<input type="radio" required="true" name="q5" value="маша пришла"> Маша пришла<br>
	<input type="radio" required="true" name="q5" value="маша не пришла"> Маша не пришла<br>
	<input type="radio" required="true" name="q5" value="так сказать нельзя"> так сказать нельзя<br>
	<input type="radio" required="true" name="q5" value="затрудняюсь с ответом"> затрудняюсь с ответом<br><br>
	<div style="font-size:25px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6. Пришли все друзья помимо Маши.<br></div>
	<input type="radio" required="true" name="q6" value="маша пришла"> Маша пришла<br>
	<input type="radio" required="true" name="q6" value="маша не пришла"> Маша не пришла<br>
	<input type="radio" required="true" name="q6" value="так сказать нельзя"> так сказать нельзя<br>
	<input type="radio" required="true" name="q6" value="затрудняюсь с ответом"> затрудняюсь с ответом<br><br>
	<div style="font-size:25px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7. Пришли все друзья кроме Маши.<br></div>
	<input type="radio" required="true" name="q7" value="маша пришла"> Маша пришла<br>
	<input type="radio" required="true" name="q7" value="маша не пришла"> Маша не пришла<br>
	<input type="radio" required="true" name="q7" value="так сказать нельзя"> так сказать нельзя<br>
	<input type="radio" required="true" name="q7" value="затрудняюсь с ответом"> затрудняюсь с ответом<br><br>
	<div style="font-size:25px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8. Все друзья пришли помимо Маши.<br></div>
	<input type="radio" required="true" name="q8" value="маша пришла"> Маша пришла<br>
	<input type="radio" required="true" name="q8" value="маша не пришла"> Маша не пришла<br>
	<input type="radio" required="true" name="q8" value="так сказать нельзя"> так сказать нельзя<br>
	<input type="radio" required="true" name="q8" value="затрудняюсь с ответом"> затрудняюсь с ответом<br><br>
	
	
	<div class="submit2"><input type="submit" class="button15" value="далее"/></div>		
</form>
</body>