<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<div class="header1" align="center">ОПРОС</div>
<div class="intro" align="justify">Данный опрос состоит из трёх небольших частей. В первой части опрашиваемому нужно дать некоторую информацию о себе, во второй интерпретировать несколько похожих друг на друга предложений и в третьей оценить правильность написанных предложений. Надеюсь, непонятных моментов не возникнет. 
    <div align="center">Все поля опроса обязательны к заполнению,</div>
	<div align="center">кроме адреса электронной почты</div> </div>
<body class = 'page'>
<div class = 'part'>часть 3</div>
<form name="right_or_not" class = 'parent pagecenter'>
	<div style="font-size:25px">&nbsp;1. Я ударил стол по ножке.<br></div>
	<div class="answer_block">
	<select name="menu1" required="true" size="5" multiple="multiple" class="select_block">
	<option style="font-size:13px" value="1. ужасно">1. ужасно</option>
	<option style="font-size:13px" value="2. плохо">2. плохо</option>
	<option style="font-size:13px" value="3. средне">3. средне</option>
	<option style="font-size:13px" value="4. нормально">4. нормально</option>
	<option style="font-size:13px" value="5. отлично">5. отлично</option>
	</select>
	</div><br>
	<div style="font-size:25px">&nbsp;2. Молния убила царя.<br></div>
	<div class="answer_block">
	<select name="menu2" required="true" size="5" multiple="multiple" class="select_block">
	<option style="font-size:13px" value="1. ужасно">1. ужасно</option>
	<option style="font-size:13px" value="2. плохо">2. плохо</option>
	<option style="font-size:13px" value="3. средне">3. средне</option>
	<option style="font-size:13px" value="4. нормально">4. нормально</option>
	<option style="font-size:13px" value="5. отлично">5. отлично</option>
	</select>
	</div><br>
	<div style="font-size:25px">&nbsp;3. В квартиру зашёл мальчик, в руках у которого был снежок.<br></div>
	<div class="answer_block">
	<select name="menu3" required="true" size="5" multiple="multiple" class="select_block">
	<option style="font-size:13px" value="1. ужасно">1. ужасно</option>
	<option style="font-size:13px" value="2. плохо">2. плохо</option>
	<option style="font-size:13px" value="3. средне">3. средне</option>
	<option style="font-size:13px" value="4. нормально">4. нормально</option>
	<option style="font-size:13px" value="5. отлично">5. отлично</option>
	</select>
	</div><br>
	<div style="font-size:25px">&nbsp;4. В квартиру зашёл мальчик, у которого был снежок в руках.<br></div>
	<div class="answer_block">
	<select name="menu4" required="true" size="5" multiple="multiple" class="select_block">
	<option style="font-size:13px" value="1. ужасно">1. ужасно</option>
	<option style="font-size:13px" value="2. плохо">2. плохо</option>
	<option style="font-size:13px" value="3. средне">3. средне</option>
	<option style="font-size:13px" value="4. нормально">4. нормально</option>
	<option style="font-size:13px" value="5. отлично">5. отлично</option>
	</select>
	</div><br>
	<div style="font-size:25px">&nbsp;5. В квартиру зашёл мальчик, у которого в руках был снежок.<br></div>
	<div class="answer_block">
	<select name="menu5" required="true" size="5" multiple="multiple" class="select_block">
	<option style="font-size:13px" value="1. ужасно">1. ужасно</option>
	<option style="font-size:13px" value="2. плохо">2. плохо</option>
	<option style="font-size:13px" value="3. средне">3. средне</option>
	<option style="font-size:13px" value="4. нормально">4. нормально</option>
	<option style="font-size:13px" value="5. отлично">5. отлично</option>
	</select>
	</div><br>
	<div style="font-size:25px">&nbsp;6. В квартиру зашёл мальчик, снежок был в руках у которого.<br></div>
	<div class="answer_block">
	<select name="menu6" required="true" size="5" multiple="multiple" class="select_block">
	<option style="font-size:13px" value="1. ужасно">1. ужасно</option>
	<option style="font-size:13px" value="2. плохо">2. плохо</option>
	<option style="font-size:13px" value="3. средне">3. средне</option>
	<option style="font-size:13px" value="4. нормально">4. нормально</option>
	<option style="font-size:13px" value="5. отлично">5. отлично</option>
	</select>
	</div><br>
	<div style="font-size:25px">&nbsp;7. Мальчик зашёл в квартиру, в руках у которого был снежок.<br></div>
	<div class="answer_block">
	<select name="menu7" required="true" size="5" multiple="multiple" class="select_block">
	<option style="font-size:13px" value="1. ужасно">1. ужасно</option>
	<option style="font-size:13px" value="2. плохо">2. плохо</option>
	<option style="font-size:13px" value="3. средне">3. средне</option>
	<option style="font-size:13px" value="4. нормально">4. нормально</option>
	<option style="font-size:13px" value="5. отлично">5. отлично</option>
	</select>
	</div><br>
	<div style="font-size:25px">&nbsp;8. В квартиру мальчик, в руках у которого был снежок, зашёл.<br></div>
	<div class="answer_block">
	<select name="menu8" required="true" size="5" multiple="multiple" class="select_block">
	<option style="font-size:13px" value="1. ужасно">1. ужасно</option>
	<option style="font-size:13px" value="2. плохо">2. плохо</option>
	<option style="font-size:13px" value="3. средне">3. средне</option>
	<option style="font-size:13px" value="4. нормально">4. нормально</option>
	<option style="font-size:13px" value="5. отлично">5. отлично</option>
	</select>
	</div><br>
	<div class="submit2"><input type="submit" class="button15" value="далее"/></div>	
</form>
</body>