<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<div class="header1" align="center">ПОИСК</div>
<div class="intro" align="justify">На этой странице можно искать результаты конкретных респондентов по задаваемым параметрам. Результаты выводятся в том же виде, что и на странице с общей статистикой. <br><br> <div align="center">Ни одно поле поиска не обязательно к заполнению.</div></div>
<body class="page">
<form name="user_info"class = 'parent pagecenter'>
	пол:<br>
	<input type="radio" name="sex" value="мужской" /> мужской<br>
	<input type="radio" name="sex" value="женский" /> женский<br><br>
    возраст:&nbsp;от&nbsp;<input type="text" name="age_min">&nbsp;до<input type="text" name="age_max"><br></div><br>
    город: &nbsp;<input type="text" name="city"><br><br>
    
    <div class="submit"><input type="submit" class="button15 submit" value="поиск"/></div>	
</form>

</body>